/* Lobby stylesheet */
.background-container {
  background-image: url('./assets/background.png');
  right: 200px;
  background-size: cover;
  height: 1200px;
  background-repeat: no-repeat;
  /* Optionally, add more styles for the component */
  padding: 120px;
  border-radius: 0px;
  background-position: center center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin-bottom: 10px;
}
.codeblocks-container {
  width: 400px;
  padding: 20px;
  margin-left: 150px;
}
.codeblocks-container button {
  padding: 2px 20px;
  margin-bottom: 0px;
  background-color: #366A68;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: x-large;
}
.codeblocks-container button:hover{
  background-color: #FFFBF8;
  border-radius: 5px;
  color: #366A68;
}
.add-code-block {
  margin-top: 20px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}

.scrollable-section {
  max-height: 300px; 
  overflow-y: auto; 
}

/* Add code block stylesheet */

.add-code-block-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  font-size: x-large;
  flex-direction: column;
  align-items: center;
}

.add-code-block-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.form-group-code {
  margin-left: 350px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  max-width: 800px;
}
input,
textarea {
  bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: x-large;
  
}



.btn-submit {
  margin-top: 20px;
  padding: 20px;
  width: 20%;
  margin-left: 430px;
  background-color: #366A68;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: xx-large;
}
.btn-submit:hover {
  background-color: #FFFBF8;
  color: #366A68;
}
.btn-submit-back {
  margin-top: -50px;
  margin-left: 10px;
  color: #366A68;
  border-radius: 50px;
  font-size: 50px;
}

/* Code block stylesheet */
.form-group-codeblock {
  margin-left: 250px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  max-width: 1000px;
}
.textarea-code {
  bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: x-large;
  height: 500px;
  background-color: #FFFBF8;
}
.btn-submit-save {
  margin-top: 20px;
  padding: 20px;
  width: 11%;
  margin-left: 715px;
  background-color: #366A68;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
}


.btn-submit-save:hover {
  background-color: #FFFBF8;
  color: #366A68;
}


.head {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.popup-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  background-color: #FFFBF8;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

